<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- --------  Google Font style  -------- -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- --------  CSS Style Link  -------- -->
    <link rel="stylesheet" href="/css/style.css">


    <title><%= pageTitle %></title>
</head>
<body>

    <!-- ------------  Navbar  ------------- -->
    <header>
        <div class="navbar">
            <div class="left">
                <div class="logo"></div>
                <div class="searchbar">
                    <span class="material-symbols-outlined"> search </span>
                    <input type="text" name="Search" id="search" placeholder="Search Medium">
                </div>
            </div>
            <div class="right">
                <div class="note">
                    <span class="material-symbols-outlined"> note_alt </span>
                    <p>Write</p>
                </div>
                <div class="notification">
                    <span class="material-symbols-outlined">notifications</span>
                </div>
                <div class="profile-image">
                    <div class="avatar"></div>
                    <span class="material-symbols-outlined"> expand_more </span>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Body -->
    <div class="main-body">
        <div class="outer-left">
            <div class="left">
                <!-- Profile Header -->
                <div class="profile-header">
                    <div class="membership">
                        <p>You have 1 free member-only-story left this month. <a href="/">Upgrade for unlimited access</a></p>
                    </div>
                    <div class="profile-one-liner">
                        <div class="profile-items">
                            <div class="avatar"></div>
                            <div class="profile-one-liner-desc">
                                <div class="name">
                                    <p>Sayan Maity</p>
                                </div>
                                <div class="time">
                                    <p>Jan 30 . 17 min read . <span class="material-symbols-outlined"> star  </span>Member-only . <span class="material-symbols-outlined"> play_circle </span>listen</p>
                                </div>
                            </div>
                        </div>
                        <div class="social-links">
                            <span class="material-symbols-outlined"> share</span>
                            <span class="material-symbols-outlined"> public </span>
                            <span class="material-symbols-outlined"> thumb_up </span>
                            <span class="material-symbols-outlined"> bookmark_add </span>
                            <span class="material-symbols-outlined"> more_horiz </span>
                        </div>
                    </div>

                </div>
                <!-- Blog -->
                <div class="article-body">
                        <p class="article-big-heading">Everything you need to know about coding interviews in Big Tech Companies</p>
                        <div class="article-cover-image"></div>
                        <p>Being productive can be hard sometimes, specially in a company which drives products used by Billions. There’s a team for everything and yo...</p>
                        <p>Well, quite a spicy title isn’t it? Let’s delve into the topic. Many software engineers have at some point in their careers hated coding interviews. Big tech companies often use these coding rounds to eliminate many candidates in the early stages, which can be discouraging for some individuals. There is a lot of fuss and misunderstanding surrounding these rounds, and I believe most of these misunderstandings are overstated. Like anything, coding interviews can be practiced, and you can become proficient in just a few weeks’ time. And please, practice before an interview if you don’t want to appear unprepared like this:</p>
                        <p class="article-small-heading">Why Big Tech Companies assess on coding rounds?</p>
                        <p>Big tech companies still conduct coding rounds as part of their interview process for several reasons:</p>
                        <ul>
                            <li>Technical competence: Coding rounds are an effective way for big tech companies to assess a candidate’s technical competence, including their ability to write clean, efficient, and maintainable code.</li>
                            <li>Problem-solving skills: Coding rounds allow the company to evaluate a candidate’s problem-solving skills and ability to break down complex problems into smaller parts, and come up with efficient solutions. IT industry is constantly evolving but there are still some major components that will always be integral to software engineer roles. The most important one is problem solving which can easily be tested through coding problems.</li>
                            <li>Ability to work under pressure: During the coding round, candidates are expected to perform under pressure, and the company can assess their ability to work efficiently and effectively in a time-sensitive environment.</li>
                            <li>Communication skills: Coding rounds also provide an opportunity for the company to evaluate a candidate’s communication skills, including their ability to articulate their thought process and reasoning, and respond to questions and feedback from the interviewer.</li>
                            <li>High standards: Big tech companies have a reputation for hiring the best talent and they have high standards for their hires. Coding interviews are designed to test a candidate’s technical abilities and problem-solving skills, and the bar is set high to ensure that only the most capable candidates are selected.</li>
                        </ul>
                        <p class="article-small-heading">When the reality sinks in</p>
                        <p>So, you don’t care about the issues discussed above. You just received a call from the recruiter for a coding round assessment and now your world is turned upside down. You are questioning your worth and why you didn’t practice those 158672328 Leetcode problems when you had the chance. Every engineer at big tech companies like Google has gone through these emotions. It’s a very intimidating experience for most people and a major reason why many fail in the first coding round — due to lack of confidence.

                            If you believe that these companies and interview processes are out of reach and you will never be able to pass the rounds, then you certainly won’t pass. It may sound cliché, but these rounds are just a test of your perseverance. Most people aren’t persistent enough to allocate time to practice and improve their skills for these interviews, and as a result, they get filtered out in the early stages. It takes time and practice to hone your skills in data structures and algorithms.
                            
                            Once you start, you will see significant progress within a few weeks, and that’s when you realize that the hardest part was getting started. Your journey to prepare for coding interviews will be similar to this graph — filled with self-doubt and criticism in the beginning, then one day you will pass all the tests, and suddenly the world doesn’t seem so bad anymore. Everyone is proud of you and your crush may even reply to you (although this is a bit far-fetched).</p>
                            <p>Your recruiter is your best friend</p>
                            <p>Well, a bit exaggerated but has some truth to it. Your recruiter is not working against you, but with you. He wants you to succeed, pass all those interview rounds, buy that lake house and talk about different coffee types in your dream company. I would strongly suggest finding a timeline that works for you and gives you sufficient time to refresh your coding concepts. If you have questions about the type of interview it is, the expectations, your level, or if they have any useful materials to share, ask them! In many cases, recruiters will arrange a call for you with someone who works in a similar role, to help you gain a better understanding of the role and interview rounds.</p>
                            <p class="article-small-heading">Restate the question to confirm your understanding</p>
                            <p>Your interviewer is not going to spoon feed you the entire programming problem. It will always begin with some fuzzy statement and then it’s up to you to ask clarifying questions. In the above-mentioned question, it seems very simple but it isn’t actually, as the interviewer will make it as complex as he wants.

                            It’s also an art to ask the right questions and tells a lot about you as a candidate. These are some of the sample questions you can ask from your interviewer:</p>
                            <ul>
                                <li>“What type of input file is it? Is it a text file, JSON, or CSV?” Asking questions and making assumptions can be helpful, as long as you clearly state your assumptions. For example, instead of leaving it up to the interviewer to determine the file type, you can ask clarifying questions.</li>
                                <li>“How is the data structured in this file? Is it structured or unstructured, and can it be read line by line?” If you were to start writing code without first confirming with the interviewer, it could lead to assumptions that could negatively impact the outcome, such as assuming a small file size when it is actually very large. Imagine a 30GB file with only one line and no new line characters in between, your RAM will be like WAAAATTTTTTTTT!!!!</li>
                                <li>You must take into account memory limitations when working with large files. Before starting to code, ask about the size of the file and determine if it can fit entirely in memory. If the file is too large, consider reading it line by line. Using Generators in such cases can be a good solution and shows the interviewer that you are thinking critically about edge cases and have a good understanding of memory management</li>
                                <li>Clarify the output format. Are we writing to an output file , writing to a REST API or just returning a dictionary from your function? Is it compressed? You should always confirm the kind of output you would return. In our question, it’s easier to assume that the output can be dictionary, but sometimes it’s not as clear. For example, compare two arrays and check if given two items exist in both or not. Now it’s not clear what is the output of this problem: boolean or indexes of the items in both arrays?</li>
                            </ul>
                            <p class="article-small-heading">Follow Up Questions:</p>
                            <p>If you’ve managed to finish your code before time, there’s a high chance the interviewer will ask some follow up questions. These questions can vary from design patterns to actual implementation changes in your code. For example, using our example coding problem mentioned above, the interviewer could request you to read a second file that reads stopwords and filter those items from your input. Now before calculating the frequency of each word, you need to filter out the stop words. This can further move on to finding the top 5 words with the highest frequency or sorting the output in ascending or descending order.</p>
                            <p>The point is, always expect follow up questions and modularize your code in a way that it’s easier for you to integrate those follow up changes.</p>

                </div>

                <div class="main-article-tags">
                    <div class="tags">
                        <p>Coding Interviews</p>
                        <p>Cracking Coding Interview</p>
                        <p>Faang</p>
                        <p>Programming</p>
                        <p>Interview</p>
                    </div>
                    <div class="clap-share-icon">
                        <div class="left">
                            <span class="material-symbols-outlined"> thumb_up </span>
                            <span class="material-symbols-outlined"> chat </span>
                        </div>
                        <div class="right">
                            <span class="material-symbols-outlined"> share </span>
                            <span class="material-symbols-outlined">  bookmark_add </span>
                            <span class="material-symbols-outlined"> more_horiz </span>
                        </div>
                    </div>
                </div>

                <!-- <div class="user-article-suggestion">
                    <div class="user-main-suggestion">
                        <div class="user-article1">
                            <div class="main-article1">
                                <div class="left">

                                </div>
                                <div class="right">
                                    <div class="image"></div>
                                </div>
                            </div>
                            <div class="article1-footer">
                                <div class="left">
                                    <div class="tag">
                                        <p>Google</p>
                                    </div>
                                    <div class="time">
                                        <p>7 min read</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <span class="material-symbols-outlined"> bookmark_add </span>
                                    <span class="material-symbols-outlined"> more_horiz </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> -->
            </div>
        </div>
        <!-- User Profile -->
        <div class="rightt">
            <div class="main-profile-component-stiky"> 
                <div class="membership">
                    <p>Get unlimited access</p>
                </div>
                <div class="profile">
                    <div class="avatar"></div>
                    <div class="name">
                        <p>Sayan Maity</p>
                    </div>
                    <div class="follower">
                        <p>10K Followers</p>
                    </div>
                    <div class="desc">
                        <p>Intern @ ConnectLink | Ex-Intern @ Lifense Software Labs | Frontend Developer | React.js | Next.js | BTech CSE'25 | <a href="https://www.linkedin.com/in/sayan-maity2003/" target="_blank">https://www.linkedin.com/in/sayan-maity2003/</a></p>
                    </div>
                    <div class="buttons">
                        <div class="follow-btn"><p>Following</p></div>
                        <div class="message-btn">
                            <span class="material-symbols-outlined"> mail </span>
                        </div>
                    </div>

                </div>
                <div class="blog-suggestion">
                    <p class="blog-heading">More from Medium</p>
                    <a class="suggestion1" href="https://levelup.gitconnected.com/being-productive-as-a-google-software-engineer-aa0ca8260d7a" target="_blank">
                        <div class="left">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="desc">
                                    <p>Alexander Neggi</p>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="heading">
                                    <p>Being Productive as a Google Software Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="blog-image"></div>
                        </div>
                    </a>
                    <a class="suggestion1" href="https://levelup.gitconnected.com/being-productive-as-a-google-software-engineer-aa0ca8260d7a" target="_blank">
                        <div class="left">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="desc">
                                    <p>Alexander Neggi</p>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="heading">
                                    <p>Being Productive as a Google Software Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="blog-image"></div>
                        </div>
                    </a>
                    <a class="suggestion1" href="https://levelup.gitconnected.com/being-productive-as-a-google-software-engineer-aa0ca8260d7a" target="_blank">
                        <div class="left">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="desc">
                                    <p>Alexander Neggi</p>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="heading">
                                    <p>Being Productive as a Google Software Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="blog-image"></div>
                        </div>
                    </a>
                    <a class="suggestion1" href="https://levelup.gitconnected.com/being-productive-as-a-google-software-engineer-aa0ca8260d7a" target="_blank">
                        <div class="left">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="desc">
                                    <p>Alexander Neggi</p>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="heading">
                                    <p>Being Productive as a Google Software Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="blog-image"></div>
                        </div>
                    </a>

                </div>
                <div class="footer">
                    <p>Help</p>
                    <p>Status</p>
                    <p>Writers</p>
                    <p>Blog</p>
                    <p>Careers</p>
                    <p>Privacy</p>
                    <p>Teams</p>
                    <p>About</p>
                    <p>Text to speech</p>
                </div>
            </div>
        </div>

    </div>




    
</body>
</html>


